@tailwind base;
@tailwind components;
@tailwind utilities;



.gl-content
{
    min-height: 500px;
}

.logo-frame
{
    width: 550px;
    height: 450px;
    margin: 35px auto 25px auto;
}
.logo-frame .upper-logo
{
    width: 150px;
    height: 150px;
}
.logo-frame .upper-logo
{
    width: 250px;
    height: 250px;
    position: absolute;
    color: cyan;
    text-shadow: 1px 1px 1px black;
}
.logo-frame .upper-logo .n-row
{
    width: 8px;
    height: 250px;
    display: block;
    float: left;
    margin-left: 3px;
}
.logo-frame .upper-logo .n-row.s-smal
{
    font-size: 9px;
}
.logo-frame .upper-logo .n-row.s-big
{
    font-size: 16px;
}
.logo-frame .bottom-logo
{
    width: 350px;
    height: 350px;
    position: absolute;
    margin: 100px 0 150px 180px;
}
.logo-frame .bottom-logo .cy-frame
{
    width: 350px;
    height: 350px;
    position: absolute;
}
.logo-frame .bottom-logo .cy-frame .ct150
{
    transform: rotateX(150deg);
}
.logo-frame .bottom-logo .cy-frame .ct60
{
    transform: rotateX(60deg);
}
.logo-frame .bottom-logo .cy-frame .cl60
{
    transform: rotateY(60deg);
}
.logo-frame .bottom-logo .cy-frame .cl150
{
    transform: rotateY(150deg);
}
.logo-frame .bottom-logo .cy-frame .cy-crt
{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.bsh
{
    box-shadow: 1px 1px 3px cyan;
}


.logo-frame .text-logo
{
    width: 450px;
    height: 250px;
    position: absolute;
    font-size: 66px;
    margin: 145px 0 0 35px;
    color: cyan;
    text-shadow: 1px 1px 3px black;
}
